<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta name="ctx" th:content="@{/}"/>
  <title>Layout</title>

</head>
<body>
<th:block layout:fragment="script"></th:block>
<div id="main">
  <div id="mySidenav" class="sidenav">
    <i class="fas fa-book-open fa-2x left-menu-items"></i>
    <i class="fas fa-bars fa-2x left-menu-items"></i>
    <i class="fas fa-globe fa-2x left-menu-items"></i>

    <i id="slide-up-menu-button" class="fas fa-angle-double-right fa-2x"></i>
    <i id="slide-down-menu-button" class="fas fa-angle-double-left fa-2x"></i>
  </div>

  <div id="main-content">

    <div layout:fragment="map-wrapper"></div>

    <!--<div id="splitter"></div>-->

    <div class="content-wrapper">
      <i id="slide-right" class="fas fa-caret-right fa-3x"></i>

      <div layout:fragment="content-dashboard" class="content-dashboard">Place for Content
        dashboard
      </div>

      <div id="left-container-wrapper">

        <div id="main-info">
          <div layout:fragment="main-info-header">Place for Main-info-header</div>
          <div layout:fragment="main-info-content">Place for Main-info-content</div>
        </div>

        <div layout:fragment="undistributed-claims" class="undistributed-claims">Place for
          Undistributed claims
        </div>

      </div>
    </div>
  </div>
</div>


</div>
</body>
</html>