<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta name="ctx" th:content="@{/}"/>
  <title>Layout</title>

</head>
<body>
<div id="mySidenav" class="sidenav">
  <i class="fas fa-book-open fa-2x left-menu-items"></i>
  <i class="fas fa-bars fa-2x left-menu-items"></i>
  <i class="fas fa-globe fa-2x left-menu-items"></i>

  <i id="slide-up-menu-button" class="fas fa-angle-double-right fa-2x"></i>
</div>

<th:block layout:fragment="script"></th:block>
<div layout:fragment="main-content" class="main-content">
  Place for main-content
  <div layout:fragment="map-wrapper" class="map-wrapper">Place for map-wrapper</div>

  <div layout:fragment="content-dashboard" class="content-dashboard">Place for Content dashboard
  </div>
  <section id="main-info" layout:fragment="main-info">
    <h2>Real main-info from layout</h2>
  </section>
  <div layout:fragment="undistributed-claims" class="undistributed-claims">Place for Undistributed
    claims
  </div>
</div>
</body>
</html>