html,
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.full-div {
    padding: 0;
    margin-left:0;
    margin-right:0;
}

