<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base_layout">
<head>
  <title>Администрирование</title>
</head>
<body>
<section layout:fragment="admin-content">
  <div id="admin-app" class="admin-app">
    <div id="admin-header" class="navbar navbar-dark bg-dark box-shadow">
      <h4 class="text-white">Администрирование</h4>
    </div>
    <div id="admin-content">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div>
             <a th:href="@{/role}">Роли</a><br/>
             <a th:href="@{/permission}">Права</a><br/>
             <a th:href="@{/driver}">Водители</a><br/>
             <a th:href="@{/vehicle}">Транспортные средства</a><br/>
             <a th:href="@{/transport-company}">Транспортные компании</a><br/>
             <a th:href="@{/stores}">Магазины</a><br/>
             <a th:href="@{/deliveries}">Доставка</a><br/>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</section>
</body>
</html>