<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base_layout">
<head>
  <title>Водители</title>
</head>
<body>
<section layout:fragment="admin-content">
    <link th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lm.css}" rel="stylesheet" media="screen">
  <div id="vue-app" class="admin-app">
  <drivers></drivers>
  </div>
    <div>
        <a th:href="@{/admin}">На страницу администрирования</a>
    </div>
    
  <script th:src="@{/js/select2/select2.min.js}"></script>
  <script th:src="@{/js/select2/i18n/ru.js}"></script>
  <script th:src="@{/js/drivers.js}" defer></script>
  <script th:src="@{/js/main.js}" defer></script>
</section>
</body>
</html>