<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
  <title>Рабочее место логиста</title>
  <link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.1/jquery-ui.css"/>
  <link rel="stylesheet" href="webjars/font-awesome/5.8.1/css/all.css"/>
  <link th:href="@{/css/main.css}" rel="stylesheet" media="screen">
</head>

<body>
<th:block layout:fragment="script">
  <script src="webjars/jquery/3.3.1-2/jquery.js"></script>
  <script type="text/javascript" th:src="@{/js/slide.js}"></script>
</th:block>

<section id="map-wrapper" layout:fragment="map-wrapper">
  <div id="YMapsID" style="width: 100%; height: 100%;"></div>
  <i id="slide-left" class="fas fa-caret-left fa-3x"></i>
</section>


<section  layout:fragment="content-dashboard">
  <div id="content-dashboard">
    <i class="fas fa-binoculars fa-lg content-binoculars-icon"></i>
    <i class="fas fa-bars fa-lg content-bars-icon"></i>
    <a href="#" class="button7" style="background-color:#CCCCCC; color:#000000"><i class="fas fa-exclamation-triangle"></i>	Отправить все</a>
  </div>
</section>

<section id="main-info-header" layout:fragment="main-info-header">
  <div id="main-info-header-content">
    <div id="main-info-table-content-wrapper">
    <table id="main-info-header-content-table">
      <tr>
        <td><i class="fas fa-map-marker-alt"></i></td>
        <td><span>Остановки:</span></td>
        <td><span>0</span></td>
        <td><i class="fas fa-users"></i></td>
        <td><span>Водители:</span></td>
        <td><span>0</span></td>
      </tr>
      <tr>
        <td><i class="fas fa-check-square"></i> </td>
        <td><span>Доставки:</span></td>
        <td><span>0</span></td>
        <td><i class="fas fa-check"></i></td>
        <td><span>Заказы:</span></td>
        <td><span>0</span></td>
      </tr>
      <tr>
        <td><i class="far fa-lightbulb"></i></td>
        <td><span>Новые:</span></td>
        <td><span>0</span></td>
        <td><i class="fas fa-exclamation-triangle"></i></td>
        <td><span>Просрочено:</span></td>
        <td><span>0</span></td>
      </tr>
      <tr>
        <td><i class="fas fa-truck"></i></td>
        <td><span>---</span></td>
        <td></td>
        <td><i class="far fa-clock"></i></td>
        <td><span>---</span></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="fas fa-archive"></i> </td>
        <td><span>---</span></td>
        <td></td>
        <td><i class="fas fa-cube"></i> </td>
        <td><span>---</span></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="far fa-money-bill-alt"></i></td>
        <td><span>---</span></td>
        <td></td>
        <td><i class="far fa-money-bill-alt"></i></td>
        <td><span>---</span></td>
        <td></td>
      </tr>
    </table>
    </div>
  </div>
  <div id="main-info-header-summary">
    <span id="summary-1">0</span>
    <span id="summary-2">0</span>
    <span id="summary-3">0</span>
    <span id="summary-4">0</span>
  </div>
</section>

<section id="main-info-content" layout:fragment="main-info-content">main-info-content</section>

<section id="undistributed-claims" layout:fragment="undistributed-claims">
  <div id="undistributed-claims-header"> <a href="#" id="reports-button" class="button7" style="background-color:#CCCCCC; color:#000000"><i class="fas fa-share-alt"></i>	Отчеты</a></div>
  <div id="undistributed-claims-content">undistributed-claims-content</div>
</section>
</body>
</html>