<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
  <title>Рабочее место логиста</title>
  <link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.1/jquery-ui.css"/>
  <link rel="stylesheet" href="webjars/font-awesome/5.8.1/css/all.css"/>
  <link th:href="@{/css/main.css}" rel="stylesheet" media="screen">
</head>

<body>
<th:block layout:fragment="script">
  <script src="webjars/jquery/3.3.1-2/jquery.js"></script>
  <script type="text/javascript" th:src="@{/js/slide.js}"></script>
</th:block>

<section id="map-wrapper" layout:fragment="map-wrapper">
  <div id="YMapsID" style="width: 100%; height: 100%;"></div>
  <i id="slide-left" class="fas fa-caret-left fa-3x"></i>
</section>


<section layout:fragment="content-dashboard">
  <div id="content-dashboard">
    <i class="fas fa-binoculars fa-lg content-binoculars-icon"></i>
    <i class="fas fa-bars fa-lg content-bars-icon"></i>
    <a href="#" class="button7" style="background-color:#CCCCCC; color:#000000"><i
        class="fas fa-exclamation-triangle"></i> Отправить все</a>
  </div>
</section>

<section id="main-info-header" layout:fragment="main-info-header">
  <div id="main-info-header-content">
    <div id="main-info-table-content-wrapper">
      <table id="main-info-header-content-table">
        <tr>
          <td><i class="fas fa-map-marker-alt"></i></td>
          <td><span>Остановки:</span></td>
          <td><span>0</span></td>
          <td><i class="fas fa-users"></i></td>
          <td><span>Водители:</span></td>
          <td><span>0</span></td>
        </tr>
        <tr>
          <td><i class="fas fa-check-square"></i></td>
          <td><span>Доставки:</span></td>
          <td><span>0</span></td>
          <td><i class="fas fa-check"></i></td>
          <td><span>Заказы:</span></td>
          <td><span>0</span></td>
        </tr>
        <tr>
          <td><i class="far fa-lightbulb"></i></td>
          <td><span>Новые:</span></td>
          <td><span>0</span></td>
          <td><i class="fas fa-exclamation-triangle"></i></td>
          <td><span>Просрочено:</span></td>
          <td><span>0</span></td>
        </tr>
        <tr>
          <td><i class="fas fa-truck"></i></td>
          <td><span>---</span></td>
          <td></td>
          <td><i class="far fa-clock"></i></td>
          <td><span>---</span></td>
          <td></td>
        </tr>
        <tr>
          <td><i class="fas fa-archive"></i></td>
          <td><span>---</span></td>
          <td></td>
          <td><i class="fas fa-cube"></i></td>
          <td><span>---</span></td>
          <td></td>
        </tr>
        <tr>
          <td><i class="far fa-money-bill-alt"></i></td>
          <td><span>---</span></td>
          <td></td>
          <td><i class="far fa-money-bill-alt"></i></td>
          <td><span>---</span></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="main-info-header-summary">
    <span id="summary-1">0</span>
    <span id="summary-2">0</span>
    <span id="summary-3">0</span>
    <span id="summary-4">0</span>
  </div>
</section>

<section id="main-info-content" layout:fragment="main-info-content">
  <div id="main-info-content-wrapper">

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-eye-slash"></i> Леруа Мерлен <span>0/0</span>
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-eye-slash"></i> Nawinia <span>0/0</span>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fas fa-eye-slash"></i> Vezu СПб <span>0/0</span>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fas fa-eye-slash"></i> Vezu Мск <span>0/0</span>
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fas fa-eye-slash"></i> Vezu СПб <span>0/0</span>
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main-info-content-footer">
      <button class="button7"><i class="fas fa-plus">Добавить машрут</i></button>
    </div>
</section>

<section id="undistributed-claims" layout:fragment="undistributed-claims">
  <div id="undistributed-claims-header">
    <button id="reports-button" class="button7" style="background-color:#CCCCCC; color:#000000">
    <i class="fas fa-share-alt"></i> Отчеты</button>
  </div>
  <div id="undistributed-claims-content">undistributed-claims-content</div>
</section>
</body>
</html>