<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
  <title>Рабочее место логиста</title>
  <link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.1/jquery-ui.css"/>
  <link rel="stylesheet" href="webjars/font-awesome/5.8.1/css/all.css"/>
  <link th:href="@{/css/main.css}" rel="stylesheet" media="screen">
</head>

<body>
<th:block layout:fragment="script">
  <script src="webjars/jquery/3.3.1-2/jquery.js"></script>
  <script type="text/javascript" th:src="@{/js/slide.js}"></script>
</th:block>

<section id="map-wrapper" layout:fragment="map-wrapper">
  <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d127924.46753760778!2d30.256686626517816!3d59.9361421495809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1552978622532"
      width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  <i id="slide-left" class="fas fa-caret-left fa-3x"></i>
</section>


<section  layout:fragment="content-dashboard">
  <div id="content-dashboard">
    <i class="fas fa-binoculars fa-lg content-binoculars-icon"></i>
    <i class="fas fa-bars fa-lg content-bars-icon"></i>
    <a href="#" class="button7" style="background-color:#CCCCCC; color:#000000"><i class="fas fa-exclamation-triangle"></i>	Отправить все</a>
  </div>
</section>

<section id="main-info-header" layout:fragment="main-info-header">main-info-header</section>

<section id="main-info-content" layout:fragment="main-info-content">main-info-content</section>

<section id="undistributed-claims" layout:fragment="undistributed-claims">
  <div id="undistributed-claims-header"> <a href="#" id="reports-button" class="button7" style="background-color:#CCCCCC; color:#000000"><i class="fas fa-share-alt"></i>	Отчеты</a></div>
  <div id="undistributed-claims-content">undistributed-claims-content</div>
</section>
</body>
</html>