<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/base_layout">
<head>
  <title>Рабочее место логиста</title>
  <link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.1/jquery-ui.css"/>
  <link rel="stylesheet" href="webjars/font-awesome/5.8.1/css/all.css"/>
  <script
      src="https://api-maps.yandex.ru/2.1/?apikey=a20d2871-c2d6-41f7-995a-6ac629285923&lang=ru_RU&mode=debug"
      type="text/javascript"></script>
      <script th:src="@{/js/maps/ymaps_monitoring.js}"></script>
</head>

<body>
    <section layout:fragment="admin-content" class="w-100">
        <div id="admin-app" class="container-fluid row full-div h-100">
            <routesmonitoring></routesmonitoring>   
        </div>
    


        <script type="text/javascript" th:src="@{/js/monitoring.js}"></script>
        <script th:src="@{/js/api/bundle.js}"></script>
        <script th:src="@{/js/routes_monitoring.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </section>
</body>
</html>