<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base_layout">
<head>
  <title>Роли</title>
</head>
<body>
<section layout:fragment="admin-content">
    <div id="admin-app" class="admin-app">
    <roles></roles>
    <div>
      <b-link th:href="@{/admin}">Go to Admin page</b-link>
    </div>
    <!--button type="button" class="btn btn-outline-info">Go to Admin page</button-->
    </div>
    <script th:src="@{/js/api/bundle.js}"></script>
    <script th:src="@{/js/roles.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</section>
</body>
</html>